version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sis_harmoni_app
    ports:
      - "8083:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - CI_ENV=testing
    env_file:
      - .env
volumes:
  db_data:
