version: "3.8"

services:
  app:
    build: .
    container_name: sis_paguyuban_app
    ports:
      - "8083:80"
    env_file:
      - .env
    networks:
      - shared_apps

networks:
  shared_apps:
    external: true
